.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission {
    padding-top: 3rem;
    text-align: center;
    width: 100%;
    background-color: #CCE4F2;
    display: flex;
    justify-content: center;
}

.mission-text {
    width: 50%;
}

.mission h2 {
    font-size: 2.5rem;
}

.mission-hr {
    width: 13%;
    margin-top: 1rem;
}

.mission p {
    margin-top: 2rem;
    margin-bottom: 2.3rem;
    font-size: 1.4rem;
}

.team {
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

.team h2 {
    font-size: 2.5rem;
}

.team-members {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-lead {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5%;
    width: 40%;
}

.group-2 {
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    justify-content: space-between;
    width: 40%;
}

.member img {
    height: 10rem;
    width: 10rem;
}

.member h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.member p {
    font-size: 1.4rem;
    margin-top: 1rem;
}
